/* ==================================================================================
			RESET STYLE (START)
================================================================================== */

/* Handle box-sizing while better addressing child elements */
html {
  box-sizing: border-box;
}

/* Responsive images and other embedded objects */
img,
object,
embed {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* html5doctor reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ==================================================================================
			RESET STYLE (END)
================================================================================== */

/* ==================================================================================
			GENERAL SETTINGS (START)
================================================================================== */

@font-face {
	font-family: 'Akkurat-Mono';
	src:
		url('fonts/Akkurat-Mono.eot') format('eot'),
		url('fonts/Akkurat-Mono.svg') format('svg'),
		url('fonts/Akkurat-Mono.ttf') format('ttf'),
		url('fonts/Akkurat-Mono.woff') format('woff'),
		url('fonts/Akkurat-Mono.woff2') format('woff2');
}

.App {
  text-align: center;
}



/* ==================================================================================
			GENERAL SETTINGS (END)
================================================================================== */

/* ==================================================================================
			COMPONENTS SETTINGS (START)
================================================================================== */

.purpose-logo {
  margin-left: 6%;
  margin-right: 6%;
}

.TopNav {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  height: 52px;
  color: black;
}

.NavBar {
  display: flex;
  width: 70%;
}

.NavItem {
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 2%;
  padding-bottom: 18px;
  padding-left: 2%;
}

.NavItem:hover {
  color: #fff;
	background-color: #c7c7c7;
}

.Gallery001 {
  width: 100%;
}

.SearchOnGoogleMap {
  display: flex;
  height: 656.4px;
  width: 100%;
}

/* ==================================================================================
			SEARCH FIELD (START)
================================================================================== */

.SearchBar {
  position: absolute;
	width: 100%;
	height: 88px;
	border: 28px solid #ffff00;
	border-radius: 0;
	background-color: #fff;
  z-index: 1;
  top: -88px;
}

.SearchBar input[type=text] {
	font-size: 17px;
	border: 1px solid rgb(201, 201, 201);
	border-right: none; /* Prevent double borders */
	border-radius: 0;
	float: left;
  width: 80%;
	height: 32px;
	background: #fff;
	margin: 0;
}

.SearchBar button[type=submit] {
	float: left;
	width: 20%;
	height: 32px;
	background: rgb(77, 77, 77);
	color: #fff;
	font-size: 17px;
	border: 1px solid black;
	border-radius: 0;
	cursor: pointer;
}

.SearchBar button:hover {
	background: #141414;
}

/* Clear floats */
.SearchBar::after {
	content: "";
	clear: both;
	display: table;
}

/* ==================================================================================
			SEARCH FIELD (END)
================================================================================== */

.SearchPanel {
  position: relative;
  width: 33.3%;
  height: 656.4px;
  z-index: 1;
}

.GoogleMapSearch {
  height: 656.4px;
  width: 66.6%;
  left: 33.3%;
}

.SearchResults {
  display: flex;
  width: 100%;
}

.SearchResults img {
  height: 100%;
}

.SearchResultPanel {
  text-align: left;
  height: 100%;
  width: 50%;
}

.SearchResult {
  display: flex;
  height: 222px;
  width: 100%;
}

.SearchResult:hover {
  cursor: pointer;
  background-color: #c7c7c7;
}

.purpose-group-searchresult-image {
  height: 100%;
  margin-left: 28px;
}

.SearchResultText {
  margin-top: 28px;
  margin-left: 28px;
  margin-bottom: 28px;
  margin-right: 28px;
}

.GoogleMapResult {
  height: 666px;
}

.purpose-group-googlemapresult-image {
  height: 100%;
}

.Gallery002 {
  width: 100%;
}

.FloorPlanBlock {
  position: relative;
  display: flex;
  width: 100%;
}

.FloorPlanBlock img {
  height: 100%;
}

.FloorPlanPanel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33.3%;
  background-color: #ffff00;
  padding: 28px;
}

.FloorPlanPanelTitle {
  position: absolute;
  z-index: 1;
  top: -46px;
	width: 33.3%;
  height: 74px;
  background-color: #ffff00;
  
	border-top: 28px solid #ffff00;
  border-right: 28px solid #ffff00;
  border-bottom: 28px solid #ffff00;
  border-left: 28px solid #ffff00;
}

.FloorPlanPanelSelector {
  position: relative;
  display: flex;
  width: 100%;

  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.SelectorButton {
  background-color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 2%;
  padding-bottom: 18px;
  padding-left: 2%;
}

.SelectorButton:hover {
  cursor: pointer;
	background-color: #c7c7c7;
}

.SelectorButton:active {
  background-color: red;
  border-bottom: 0px;
}

.FloorPlanPanelText {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffff00;

  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;

  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.FloorPlanPanelPrice {
  position: absolute;
  bottom: 0px;
  background-color: #ffff00;
  padding-bottom: 56px;
}

.FloorPlanDrawing {
  width: 66.6%;
  left: 33.3%;
}

.Footer {
  width: 100%;
}

.Copyright {
  z-index: 2;
  width: 100%;
  height: 26px;
  background: #000;
  bottom: 0;
  position: fixed;
}

/* ==================================================================================
			COMPONENTS SETTINGS (START)
================================================================================== */

/* ==================================================================================
			TYPE SETTINGS (START)
================================================================================== */

h1 {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: center;
	font-size: 15px;
	letter-spacing: 6px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.SelectorButton h1 {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: center;
	font-size: 18px;
	letter-spacing: 6px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.FloorPlanPanelPrice h1 {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: left;
	font-size: 20px;
	letter-spacing: 6px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.Copyright h1 {
    font-family: 'Akkurat-Mono', Fallback, sans-serif;
    text-align: left;
    font-size: 15px;
    letter-spacing: 6px;
	  color: #ccc5bf;
    font-weight: normal;
    text-decoration: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-top: 7px;
    padding-left: 5%;
}

h2 {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: left;
	font-size: 24px;
	letter-spacing: 3px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3 {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  font-family: 'Akkurat-Mono', Fallback, sans-serif;
  text-align: left;
	font-size: 14px;
	letter-spacing: 2px;
	color: #000;
	font-weight: normal;
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
  
